body{
    font-family: 'Courier New', Courier, monospace;
}
#h_header{
    color: white;
    font-size: 40px;
    text-align: center;
    background-color: rgb(153, 207, 255);
}
.rec_list{
    font-size: 28px;
    color: rgb(0, 0, 0);
    background-color: rgb(205, 249, 252);
}
#odin{
    height: 600px;
    width: auto;
}
.rec_header{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    background-color: rgb(255, 231, 153);
}
.rec_h2{
    background-color: bisque;
}
.rec_h3{
    background-color: rgb(170, 170, 170);
}
p,ul,ol{
    color: rgb(0, 0, 0);
    background-color: beige;
    font-family: sans-serif;
}
#back{
    font-weight: bold;
    color: rgb(0, 195, 255);
    background-color: rgb(0, 0, 0);
}